.block{
    width: 50px;
    height:50px;
    background-color: rgba(128, 128, 128, 0.288);
    border: 1px solid white;
    border-radius: 20px;
    transition: 500ms;
}

.container
{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.wrap{
     display: flex;
    flex-direction: row;
    gap: 5px;
}

.block:hover{
    padding: 0 20px;
}